include encounteredchampion

mixin championrecord_format(championRecord)
    div.championRecord
        div.championRecord__championPlayed
            div.championPlayed__profile 
                div.profile__championName
                    span #{championNameById[championRecord.championId]}
                div.profile__championPic
                div.profile__championKDA
                div.profile__championWinrate
                div.profile__championNumPlayed
                    span #{championRecord.numOfGamesPlayed} 판
            div.championPlayed__notableEncounters
                div.notableEncounters__friend 
                div.notableEncounters__enemy
        div.profile__encounteredChampionsTable
            span id playedAgainst playedWith winAgainst winWith winRateAgainst winRateWith
            each encounteredChampion in Object.fromEntries(championRecord.encounteredChampionsList)
                +encounteredchampion_format(encounteredChampion)
            else 
                span.encounteredChampionsTable__empty-message encountered champion not found ❌
        