doctype html 
html(lang="ko")
    head 
        title monstergg 
        link(rel="stylesheet" href="/assets/css/styles.css")
    body
        main
            a(href="/").homelink 괴물.GG
            //- 한글로 괴물.쥐쥐 이렇게 해도 좋을듯?
            form(method="GET").search__form
                //- input(placeholder="소환사 이름으로 검색" name="username_search" type="text")
                input(placeholder="Search by summoner name (kr server, e.g. hide on bush)" name="username_search" type="text")
                button 
                    i.fas.fa-search 
            div number of matches processed is limited to 5, temporarily, due to rate limits and performance issues
    footer
    script(src="https://kit.fontawesome.com/9f340f31fc.js" crossorigin="anonymous")